<h2>Dashboard for <%= current_user.name %></h2>

<%= link_to "Upload Data", file_upload_path, class: "button" %>

<h3>Lifetime Achievements</h3>
<p>Lifetime floors: <%= current_user.lifetime_floors %></p>
<p>Lifetime steps: <%= current_user.lifetime_steps %></p>
<p>Lifetime kilometres: <%= current_user.lifetime_kilometres %></p>
<p>Lifetime calories burned: <%= current_user.lifetime_calories_burned %></p>

<h3>Floors</h3>
<svg class="floor-chart" width=960 height=400></svg>
<p>Average floors: <%= current_user.average_floors %></p>
<p>Highest floors: <%= current_user.highest_floors %> on <%= current_user.highest_floor_date %></p>
<p>Lowest floors: <%= current_user.lowest_floors %> on <%= current_user.lowest_floor_date %></p>

<h3>Steps</h3>
<svg class="step-chart" width=960 height=400></svg>
<p>Average steps: <%= current_user.average_steps %>
<p>Highest steps: <%= current_user.highest_steps %> on <%= current_user.highest_step_date %></p>
<p>Lowest steps: <%= current_user.lowest_steps %> on <%= current_user.lowest_step_date %></p>

<h3>Kilometres</h3>
<svg class="km-chart" width=960 height=400></svg>
<p>Average kilometres: <%= current_user.average_kilometres %></p>
<p>Highest kilometres: <%= current_user.highest_kilometres %> on <%= current_user.highest_kilometre_date %></p>
<p>Lowest kilometres: <%= current_user.lowest_kilometres %> on <%= current_user.lowest_kilometre_date %></p>

<h3>Calories Burned</h3>
<p>Average calories burned: <%= current_user.average_calories_burned %></p>
<p>Highest calories burned: <%= current_user.highest_calories_burned %> on <%= current_user.highest_calories_burned_date %></p>
<p>Lowest calories burned: <%= current_user.lowest_calories_burned %> on <%= current_user.lowest_calories_burned_date %></p>

<h3>Activity</h3>
<p>Most active day: <%= current_user.most_active_day %></p>
<p>Highest very active minutes: <%= current_user.highest_very_active_minutes %> on <%= current_user.highest_very_active_date %></p>
<p>Least active day: <%= current_user.least_active_day %></p>